#main-navbar {
	background-color:blue;
	overflow: hidden;
}
#navbar-container {
	float: left;
	position: relative;
	width: 100%;
}
#main-navbar ul {
	list-style-type: none;
	margin: 20px;
	padding:0;
	position: relative;
	left:50%;
	float:left;
	
}
#main-navbar ul li {
	float:left;
	position; relative;
	right: 50%;
	display: block;
}
#main-navbar ul li a {
	display:block;
	text-decoration:none;
	padding: 20px 40px;
	color: #fff;
}

#onpage {
	text-decoration: underline overline;
}
#sidebar {
	position:fixed;
	right:0%;
	background-color:red;
	height:100%;
	width: 20%;
}

#sidebar ul {
	list-style-type:none;
	padding:0;
	text-align:center;
	
}
	
#sidebar ul li a{
	display:block; 
	text-decoration:none;
	padding:15px 0;
	right:0%;
	color:#fff;
}
